# Django cache files
*.log
*.pot
__pycache__/
local_settings.py
*.pyc
*.db
*.py.bak

# .env
mekaniko/.env

# Folder where I keep useful code snippets
.snippets

# Django staticfiles directory
# staticfiles/